In [2]:
import mysql.connector

In [1]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345',
    database='node_app',
    charset='utf8mb4')

print(mydb)

NameError: name 'mysql' is not defined

In [2]:
def insertProduct(liste):
    connection = mysql.connector.connect(host='localhost',
    user='root',
    password='12345',
    database='node-app 
)
    
sql = "INSERT INTO Products(name,price,imageUrl,description) VALUES (%s,%s,%s,%s)" # Products table ismidir MySQL deki %s ler yer tutucu görevi yerine getirir
values = liste

cursor.executemany(sql,values) # Yer tutuculara geçirilen değerler, sorgunun ilgili yerlerine yerleştirilir

try:
    connection.commit() # Bu adım INSERT işleminin kalıcı olarak veritabanına kaydedilmesini sağlar
    print(f'{cursor.rowcount} tane kayıt eklendi)
    print(f'son eklenen kaydın id: {cursor.lastrowid}'')
except mysql.connector.Error as err:
    print('hata:',err)
finally:
    connection.close()
    print('database bağlantısı kapandı')

liste = []    
while True:
    name = input("Ürün adı: ")
    price = float(input("Fiyat: "))
    imageUrl = input("Resim İsmi: ")
    description = input("Açıklama: ")
    
    liste.append((name,price,imageUrl,description))
    
    result = input('devam etmek istiyormusunuz e/h')
    if result == 'h':
        print('kayıtlarınız veritabanına aktarılıyor...')
        print(liste)
        insertProduct(liste)
        break

SyntaxError: EOL while scanning string literal (1771002092.py, line 5)

In [9]:
import datetime

class Student:
    connection = connection
    mycursor = connection.cursor()
    
    def __init__(self,studentNumber,name,surname,birthdate,gender):
        self.studentNumber = studentNumber
        self.name = name
        self.surname = surname
        self.birthdate = birthdate
        self.gender = gender
        
    def saveStudent(self):
        sql = "INSERT INTO Student(StudentNumber,Name,Surname,Birthdate,Gender)"
        values = ogrenciler
        Student.mycursor.executemany(sql,value)
        
        try:
            Student.connection.commit()
            print(f'{Student.mycursor.rowcount} tane kayıt eklendi.')
        except mysql.connector.Error as err:
            print('hata:',err)
        finally:
            Student.connection.close()
            
    @staticmethod
            
    
    ogrenciler = [
    (101, "John", "Doe", datetime(2000,1,1), "Male"),
    (102, "Jane", "Smith", datetime(2001,2,3), "Female"),
    (103, "Mike", "Johnson", datetime(1999,5,10), "Male")
]

Student.saveStudents(ogrenciler)

SyntaxError: invalid syntax (2533804789.py, line 28)

In [10]:
# Select Sorgusu - Kayıt Sorgualama

def getProducts():
    connection = mysql.connector.connect(mydb = mysql.connector.connect(host='localhost',user='root',password='fatbel7478',database='node_app')
    cursor = connection.cursor()
    
    cursor.execute('Select*From Products')
    
    result = cursor.fetchall() # SORGUMUZDAKİ ALINAN VERİLERİ LİSTE DÖNÜŞTÜRÜR
    
    for product in result:
            print(f'name : {product[1]} price: {product[2]}')

SyntaxError: invalid syntax (2772747799.py, line 6)

In [11]:
# Where Sorgusu - Kayıt Filtreleme

def getProductById(id):
    connection = mysql.connector.connect(mydb = mysql.connector.connect(host='localhost',user='root',password='fatbel7478',database='node_app')
    cursor = connection.cursor()
    
    sql = "Select*From Products Where id=%s"
    params = (id,)
                                         
    cursor.execute(sql,params)
    
    result = cursor.fetcall() 
    
    print(f'id: {result[0]}, name:{result[1]},price{result[2]}') 
                
getProductById(1)

SyntaxError: invalid syntax (2820264690.py, line 5)

In [12]:
# Order By Sorgusu - Kayıt Sıralama

def getProductById():
    connection = mysql.connector.connect(mydb = mysql.connector.connect(host='localhost',user='root',password='fatbel7478',database='node_app')
    cursor = connection.cursor()
    
    sql = "Select*From Products Order By id DESC" # DESC azalan şekilde sıralar
    params = (id,)
                                         
    cursor.execute(sql,params)
                                         
    try:
       result = cursor.fetcall()
       for product in result:
            print(f'id: {result[0]}, name:{result[1]},price{result[2]}') 
    except mysql.connector.Error as err:
        print('hata',err)
    finally:
            connection.close()
            print('database bağlantısı kapandı.')

                
getProductById()

SyntaxError: invalid syntax (1499173485.py, line 5)

In [1]:
def getProductById():
    connection = mysql.connector.connect(mydb = mysql.connector.connect(host='localhost',user='root',password='fatbel7478',database='node_app')
    cursor = connection.cursor()
    
    sql = "Select MAX(Price) from Products" # Aggregate fonksiyonları
    
    cursor.execute(sql)
                                         
    result = cursor.fetchone()
                                         
    print(f'result: {result[0]} {result[1]}')

SyntaxError: invalid syntax (4233683082.py, line 3)

In [2]:
# Update: Kayıt Güncelleme

def updateProduct(id,name,price):
    connection = mysql.connector.connect(mydb = mysql.connector.connect(host='localhost',user='root',password='fatbel7478',database='node_app')
    cursor = connection.cursor()
    
    sql = "Update products Set name=%s,price=%s where id=%s"
    values = (name,price,id)                                     
    cursor.execute(sql,values)
    
    try:
        connection.commit()
        print(f'{cursor.rowcounnt} tane kayıt güncellendi')
    except mysql.connector.Error as err:
        print('hata',err)
    finally:
        connection.close()
        print('database bağlantısı kapandı.')

updateProduct(1,'iphone 8',4000)

SyntaxError: invalid syntax (2082161660.py, line 5)

In [1]:
# Delete Sorgusu - Kayıt Silme

def deleteProduct():
    connection = mysql.connector.connect(mydb = mysql.connector.connect(host='localhost',user='root',password='fatbel7478',database='node_app')
    cursor = connection.cursor()
    
    sql = "delete from products where name id=%s" # s7 geçen verileri siliyor
    values = (id,)
    cursor.execute(sql,values)
    
    try:
        connection.commit()
        print(f'{cursor.rowcounnt} tane kayıt silindi')
    except mysql.connector.Error as err:
        print('hata',err)
    finally:
        connection.close()
        print('database bağlantısı kapandı.')
                                         
deleteProduct()

SyntaxError: invalid syntax (1029511325.py, line 5)

In [1]:
# joins işlemi !!!
# sql = "Select*From Products"
# sql = "Select*From Categories" # iki farklı tablo ilişkisel veri tabanı kurma
# sql = "Select*From Products as P inner join Categories as C on C.id=P.Categoryid where P.name='Samsung s8'" BURDA TÜM KOLONLARI GETİRİR VE İK TABLOYU BİRLEŞTİRİR !
# on : SQLDE birleştirme işine yarıyor joinde kullanılıyor yani
# BEN YUKARDAKİ GİBİ TÜM KOLONLARI ALMAK İSTEMİYORSAM İSTEDİĞİMİ ALMAK İSTİYORSAM
# Select P.name,P.price,C.name From Products as P inner join Categories as C on C.id=P.Categoryid where C.name = 'Telefon'